<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Post</title>
</head>
<body>
<div class="container">
    <a th:href="@{/}">Home</a>
    <div class="post">
        <h2 th:text="${post.title}">Title</h2>
        <h5 th:text="'Written by ' + ${post.account.firstName}">Account First Name</h5>
        <h5 th:text="'Created at ' + ${post.createdAt}">Created At</h5>
        <h5 th:text="'Last Updated on ' + ${post.updatedAt}">Updated At</h5>
        <p th:text="${post.body}">body text</p>
    </div>
    <div class="comments">
        <h3>Comments</h3>
        <div th:each="comment : ${comments}" class="comment">
            <h5 th:text="'by ' + ${comment.account.email} + ' ' + ${comment.writtenAt}">Name & Date</h5>
            <a>Delete</a>
            <p th:text="${comment.body}">Comment body</p>
        </div>
    </div>
    <form action="#"
          th:action="@{'/posts/' + ${post.id} + '/comment'}"
          th:object="${new_comment}"
          method="POST"
          sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
        <div>
            <label for="comment-text">Leave a comment</label>
            <br>
            <textarea id="comment-text" th:field="*{body}"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
    <p sec:authorize="!isAuthenticated()">Log in or register to leave a comment</p>
</div>

<ul sec:authorize="hasRole('ROLE_ADMIN')">
    <li><a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a></li>
    <li><a th:href="@{'/posts/' + ${post.id} + '/delete'}">Delete</a></li>
</ul>

</body>
</html>